<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="routePrefix" content="{routePrefix}" />
    <title>{content.titleTag}</title>
    <link rel="stylesheet" href="{routePrefix}/css/styles.css" />
    <script src="{routePrefix}/js/main.js" defer></script>
  </head>
  <body class="no-js">
    <main>
      <header>
        <h1>{content.appTitle}</h1>
        <h2>{content.pageTitle}</h2>
      </header>
      {pageContent|s}
    </main>
  </body>
</html>
