:root {
  color-scheme: light dark;

  --page-background: #fff;
  --text-color: #18181b;
  --border-color: #18181b;
  --table-header-background: #fff;
  --anniversary-background: #4ade80;
  --close-anniversary-background: #fff085;
  --chart-grid-color: #d4d4d8;
}

@media (prefers-color-scheme: dark) {
  :root {
    --page-background: #18181b;
    --text-color: #f4f4f5;
    --border-color: #a1a1aa;
    --table-header-background: #18181b;
    --anniversary-background: #166534;
    --close-anniversary-background: #854d0e;
    --chart-grid-color: #52525b;
  }
}

body {
  font-family: sans-serif;
  background-color: var(--page-background);
  color: var(--text-color);
}

table {
  border: 1px solid var(--border-color);
  border-collapse: collapse;
}

table th {
  text-align: left;
  padding: 8px 32px;
  border-bottom: 1px solid var(--border-color);
}

table td {
  padding: 8px 32px;
}

tr.anniv {
  background-color: var(--anniversary-background);
}

tr.close {
  background-color: var(--close-anniversary-background);
}

header,
#contentWrapper {
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
}

#mainContent {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

#chartsContainer {
  display: flex;
  gap: 40px;
  justify-content: center;
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
}

#chartsContainer section {
  flex: 1;
  max-width: 100%;

  canvas {
    max-width: 100%;
  }
}

#tableContainer {
  display: flex;
  justify-content: center;
  width: 100%;
}

#tableContainer table {
  width: 100%;
}

@media (width <= 1200px) {
  #mainContent {
    display: block;
  }

  #chartsContainer {
    display: block;
    margin-bottom: 2em;
  }

  #chartsContainer section {
    max-width: 100%;
    margin-bottom: 2em;
  }

  #tableContainer {
    display: block;
  }

  #tableContainer table {
    width: 100%;
    border: 0;
    position: relative;
    max-width: 100%;
  }

  #tableContainer table thead th {
    position: sticky;
    top: 0;
    background-color: var(--table-header-background);
  }

  #tableContainer td {
    padding: 8px;
  }

  #tableContainer tr th:nth-child(2),
  #tableContainer tr td:nth-child(2),
  #tableContainer tr th:nth-child(4),
  #tableContainer tr td:nth-child(4),
  #tableContainer tr th:nth-child(5),
  #tableContainer tr td:nth-child(5) {
    display: none;
  }
}
