body {
  font-family: sans-serif;
}

table {
  border: 1px solid black;
  border-collapse: collapse;
}

table th {
  text-align: left;
  padding: 8px 32px;
  border-bottom: 1px solid black;
}

table td {
  padding: 8px 32px;
}

tr.anniv {
  background-color: #4ade80;
}

tr.close {
  background-color: #fff085;
}

#mainContent {
  display: flex;
  column-gap: 1em;
}

#mainContent div {
  flex: 1;
}

@media (max-width: 1200px) {
  #mainContent {
    display: block;
  }

  #mainContent table {
    width: 100%;
    border: 0;
    position: relative;
  }

  #mainContent table thead th {
    position: sticky;
    top: 0;
    background-color: white;
  }

  #mainContent td {
    padding: 8px;
  }

  #mainContent tr th:nth-child(2),
  #mainContent tr td:nth-child(2),
  #mainContent tr th:nth-child(4),
  #mainContent tr td:nth-child(4) {
    display: none;
  }
}
