body {
  font-family: sans-serif;
}

table {
  border: 1px solid black;
  border-collapse: collapse;
}

table th {
  text-align: left;
  padding: 8px 32px;
  border-bottom: 1px solid black;
}

table td {
  padding: 8px 32px;
}

tr.anniv {
  background-color: #4ade80;
}

tr.close {
  background-color: #fff085;
}

header,
#contentWrapper {
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
}

#mainContent {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

#chartsContainer {
  display: flex;
  gap: 40px;
  justify-content: center;
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
}

#chartsContainer section {
  flex: 1;
  max-width: 100%;
  
  canvas {
    max-width: 100%;
  }
}

#tableContainer {
  display: flex;
  justify-content: center;
  width: 100%;
}

#tableContainer table {
  width: 100%;
}

@media (width <= 1200px) {
  #mainContent {
    display: block;
  }

  #chartsContainer {
    display: block;
    margin-bottom: 2em;
  }

  #chartsContainer section {
    max-width: 100%;
    margin-bottom: 2em;
  }

  #tableContainer {
    display: block;
  }

  #tableContainer table {
    width: 100%;
    border: 0;
    position: relative;
    max-width: 100%;
  }

  #tableContainer table thead th {
    position: sticky;
    top: 0;
    background-color: white;
  }

  #tableContainer td {
    padding: 8px;
  }

  #tableContainer tr th:nth-child(2),
  #tableContainer tr td:nth-child(2),
  #tableContainer tr th:nth-child(4),
  #tableContainer tr td:nth-child(4) {
    display: none;
  }
}
