<include src="layouts/main">
  <arg pageContent>
    <article id="homepage">
      <p>
        A listing of mainly tech products and when I bought them and how old
        they are
      </p>
      <div id="mainContent">
        <table>
          <thead>
            <tr>
              <th>Product</th>
              <th>Purchase Date</th>
              <th>Age</th>
              <th>Monthly Cost</th>
              <th>Weekly Cost</th>
            </tr>
          </thead>
          <tbody>
            <loop through="content.products" val="product">
              <tr if-product.annivClass true="class='{product.annivClass}'">
                <td>{product.name}</td>
                <td>{product.purchaseDate}</td>
                <td>{product.age}</td>
                <td>{product.monthlyCost}</td>
                <td>{product.weeklyCost}</td>
              </tr>
            </loop>
          </tbody>
        </table>
        <div>
          <section style="max-width: 500px">
            <h2>Weekly Cost Histogram</h2>
            <canvas id="weeklyCostChart"></canvas>
          </section>
          <section style="max-width: 500px">
            <h2>Age Histogram</h2>
            <canvas id="ageChart"></canvas>
          </section>
        </div>
      </div>
    </article>
  </arg>
</include>
